<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <title>Document</title>
    </head>
    <body>
        <h1>Ninjas</h1>
        {% if ninja == 'all' %}
        <img src="{% static 'first_app/images/donatello.jpg'%}" alt="donatello"/>
        <img src="{% static 'first_app/images/leonardo.jpg'%}" alt="leonardo"/>
        <img src="{% static 'first_app/images/michelangelo.jpg'%}" alt="michelangelo"/>
        <img src="{% static 'first_app/images/raphael.jpg'%}" alt="raphael" />
        {% else %}
        <img src="{% static 'first_app/images/'%}{{ninja}}.jpg" alt="{{ninja}}"/>
        {% endif %}
    </body>
</html>
